body {
           font-family: "Roboto", sans-serif;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           min-height: 100vh;
           background-color: #ededed;
           margin: 0;
           padding: 20px;
           text-align: center;
           color: #1f1f1f;
       }
       h1 {
           color: #1f1f1f;
           margin-bottom: 5px;
       }
       p {
           max-width: 600px;
           line-height: 1.6;
           margin-bottom: 25px;
       }
       button {
           padding: 12px 25px;
           font-size: 1.2em;
           cursor: pointer;
           background-color: rgb(17, 87, 133);
           color: white;
           border: none;
           border-radius: 16px;
           box-shadow: 0 4px 6px rgba(6, 9, 70, 0.1);
           transition: background-color 0.3s ease, transform 0.1s ease;
           margin-bottom: 30px;;
       }
       button:hover {
           background-color: #063554;
           transform: translateY(-2px);
       }
       button:active {
           transform: translateY(0);
       }
     
       #resumen-juego {
           padding: 20px;
           border-radius: 16px;
           background-color: #f1faee;
           width: 80%;
           max-width: 600px;
           display: none;
       }
       #resumen-juego h2 {
           color: #1f1f1f;
           margin-bottom: 15px;
       }
       #resumen-juego {
           font-size: 1.1em;
           font-weight: regular;
           margin: 0px 0;
           color: rgb(17, 87, 133);
       }


       span{
           font-weight: bold;
           color: #1f1f1f;
       }
       #resumen-mensaje {
           font-size: 1.1em;
           color: #e63946;
           font-weight: bold;
           margin-top: 20px;
       }
